APP_CONFIG__DB__USER=postgres
APP_CONFIG__DB__PASSWORD=change_me
APP_CONFIG__DB__HOST=postgres
APP_CONFIG__DB__PORT=5432
APP_CONFIG__DB__NAME=schoolhub_school

APP_CONFIG__API__V1_PREFIX=/v1
APP_CONFIG__API__HOST=0.0.0.0
APP_CONFIG__API__PORT=8000
APP_CONFIG__API__RELOAD=false

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=schoolhub_school

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me

APP_CONFIG__MIDDLEWARE__ALLOW_ORIGINS=["*"]
APP_CONFIG__MIDDLEWARE__ALLOW_METHODS=["*"]
APP_CONFIG__MIDDLEWARE__ALLOW_HEADERS=["*"]
APP_CONFIG__MIDDLEWARE__ALLOW_CREDENTIALS=false
